{% extends 'base.html.twig' %}

{% block title %}{{article.titre}}{% endblock %}
{% block body %}
{% if article.publie %}
    <div class="full-article pb-4">
            <section class="action pb-2">
                <p> <i class="bi bi-airplane-engines-fill"></i>Spaceblog</p>
                <a class=" rounded bg-red text-white p-1 mb-1" href="">Retour</a>
            </section>
            <small class="">{#{article.categorie}#}</small>
            <div class="card-group rounded">
                <div class="card">
                  <img class="card-img-top article-image" src="{{article.baniere_url}}" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title h6 d-flex justify-content-center">{{article.titre}}</h1>
                    <p class="card-text">
                      {{article.content}}
                    </p>
                    <p class="card-text"><small class="text-muted">{#{article.created}#}</small>-<small class="text-muted">{{article.autheur}}</small></p>
                  </div>
                </div>
              </div>
    </div>
{% endif %}
{% endblock %}
