{% extends 'base.html.twig' %}

{% block title %}Accueil-webgroup{% endblock %}

{% block body %}
    <!-- Bannière sur 3 colonne-->
    <section class="m-auto">
        <div class="d-flex">
            <i class="bi bi-airplane-engines-fill"></i>
            <h1 class="text-red h6" >spacelog </h1>
        </div>
        <img class="border-30 spacing-img" src="/banniere.png" alt="" srcset="">
    </section>
    <!-- 3 colonnes -->
    <div class="row justify-content-between  pt-5">

        <h2 class=" text-red h6 ">Nos articles </h2>
        {% for article in articles %}
        {% if article.publie %}
        <div class="cart col-4 pb-3 rounded article"> 
            {#{{article.baniere_url}}#}
            <img class="card-img-top article-image " src="{{article.baniere_url}}" alt="{{article.titre}}" />
            <div class="card-body bg-white"><a class="card-text" href="{{ path('app_client_articles', {titre: article.titre}) }}"> {{article.titre}}</a></div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}