<!-- page basique-->

<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
       
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    {{ sonata_seo_oembed_links() }}
        <title> {% block title %} {{ sonata_seo_title_text() }} {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    </head>
    <body class="m-4 bg-light d-flex flex-column ">

        <header>
        </header>

        <div class="container shadow-sm">
  
            
        {% block body %}
            hello
           {# {{ sonata_page_render_container('header',page) }}#}
        {% endblock %}
        </div>

        <footer class=" ">
        {% block footer %}
            <!-- icon sur 2e colonne-->
            <i class="fa-solid fa-flask-vial"></i>
        {% endblock %}
        
        {% block stylesheets %}
            <!--
                <link rel="stylesheet" href="style.css">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
               <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
            -->
            <link rel="stylesheet" href="/webgroup/public/assets/all.css" />
            <link rel="stylesheet" href="/webgroup/public/assets/app.css" />
            <link rel="stylesheet" href="/webgroup/public/assets/style.css"/>
            {{ encore_entry_link_tags('app') }}
    
            {% endblock %}
    
            {% block javascripts %}
                <!-- JavaScript Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
                <!-- JavaScript Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
                <script src="/webgroup/public/assets/all.js" ></script>
                {{ encore_entry_script_tags('app') }}
    
            {% endblock %}
            
{{ sonata_seo_breadcrumb() }}
        </footer>
    </body>
</html>


